<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Switch Library Manager</title>
    <link href="lib/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/css/tabulator/tabulator.min.css" rel="stylesheet" />
    <link
      href="lib/css/tabulator/bootstrap/tabulator_bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="app.css" />
    <script type="text/javascript" src="lib/js/jquery/jquery-4.0.0.min.js"></script>
    <script type="text/javascript" src="lib/js/moment/moment.min.js"></script>
    <script
      type="text/javascript"
      src="lib/js/tabulator/tabulator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="lib/js/jsrender/jsrender.min.js"
    ></script>
    <script type="module" src="app.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <nav id="tab_btns" class="app-nav" data-tabgroup="tab-group" aria-label="Main navigation">
        <ul class="nav nav-tabs flex-nowrap" role="tablist">
          <li class="nav-item" role="presentation"><a id="library-tab" href="#library" class="nav-link active" role="tab" aria-controls="library" aria-selected="true">Library</a></li>
          <li class="nav-item missing_btn" role="presentation"><a id="missing-tab" href="#missing" class="nav-link" role="tab" aria-controls="missing" aria-selected="false">Missing games</a></li>
          <li class="nav-item" role="presentation"><a id="updates-tab" href="#updates" class="nav-link" role="tab" aria-controls="updates" aria-selected="false">Missing updates</a></li>
          <li class="nav-item" role="presentation"><a id="dlc-tab" href="#dlc" class="nav-link" role="tab" aria-controls="dlc" aria-selected="false">Missing DLC</a></li>
          <li class="nav-item" role="presentation"><a id="organize-tab" href="#organize" class="nav-link" role="tab" aria-controls="organize" aria-selected="false">Organize</a></li>
          <li class="nav-item" role="presentation"><a id="status-tab" href="#status" class="nav-link" role="tab" aria-controls="status" aria-selected="false">Issues</a></li>
          <li class="nav-item" role="presentation"><a id="settings-tab" href="#settings" class="nav-link" role="tab" aria-controls="settings" aria-selected="false">Settings</a></li>
        </ul>
      </nav>
      <div class="progress-container" aria-live="polite">
        <h5 class="progress-type">Loading...</h5>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow=""
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="progress-msg"></div>
      </div>
      <section id="tab-group" class="tabgroup">
        <div id="library" role="tabpanel" aria-labelledby="library-tab"></div>
        <div id="updates" role="tabpanel" aria-labelledby="updates-tab"></div>
        <div id="missing" role="tabpanel" aria-labelledby="missing-tab"></div>
        <div id="dlc" role="tabpanel" aria-labelledby="dlc-tab"></div>
        <div id="organize" role="tabpanel" aria-labelledby="organize-tab"></div>
        <div id="status" role="tabpanel" aria-labelledby="status-tab"></div>
        <div id="settings" role="tabpanel" aria-labelledby="settings-tab"></div>
      </section>
    </div>

    <script id="settingsTemplate" type="text/x-jsrender">
      <div class="alert alert-success" role="alert">
          You can edit the settings, by modifying the settings.json file, and reloading the app
      </div>
      <pre><code class="settings-json">{{:code}}</code></pre>
    </script>

    <script id="missingTemplate" type="text/x-jsrender">
      {{if folder}}
          {{if missingGames && missingGames.length}}
              <div class="alert center alert-warning" role="alert">
                  There are {{:missingGames.length}} games missing in your local library:
                  <button type="button" class="btn btn-link export-btn">export to csv</button>
              </div>
              <section id="missingGames-table" class="content"></section>
          {{else}}
              <div class="alert center alert-success" role="alert">
                  You have all the games, you are not missing any Games!
              </div>
          {{/if}}
      {{else}}
          <div class="alert center alert-warning" role="alert">
              Local games folder is not set, please set the folder to get started
          </div>
          <div class="center">
                <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
          </div>
      {{/if}}
    </script>

    <script id="libraryTemplate" type="text/x-jsrender">
      {{if folder}}
          {{if library && library.length}}
              <div class="alert center alert-info" role="alert">
                  Selected folder: ({{:folder}}) {{if scanFolders && scanFolders.length}}
                  (and {{:scanFolders.length}} additional folders)
                  <div>
                  {{/if}}
                  <button type="button" class="btn btn-link folder-set">change</button>
                  <button type="button" class="btn btn-link folder-set">add</button> |
                  <button type="button" class="btn btn-link export-btn">export to csv</button>
              </div>
              {{if keys === "false"}}
              <div id="missingkeys" class="alert center alert-danger" role="alert" >
                  Prod.keys was not found, deep NSP scan is disabled, library content is based on file names tags.
                  <button type="button" class="btn-close alert-dismiss" aria-label="Close"></button>
              </div>
              {{/if}}
              {{if num_skipped != 0}}
                   <div id="scan_issues" class="alert center alert-warning" role="alert">
                  {{:num_skipped}} out of {{:num_files}} files were skipped during scan, click on the issues tab to learn more
                  <button type="button" class="btn-close alert-dismiss" aria-label="Close"></button>
                    </div>
              {{/if}}
              <section id="library-table" class="content"></section>
          {{else}}
              <div class="alert center alert-warning" role="alert">
              {{if num_skipped != 0}}
                   {{:num_skipped}} out of {{:num_files}} files were skipped during scan, click on the issues tab to learn more
              {{else}}
                  The selected folder ({{:folder}}) is empty. please set a different folder
              {{/if}}
              </div>
              {{if !keys}}
              <div id="missingkeys" class="alert center alert-danger" role="alert" >
                  Prod.keys was not found, analysing NSP is disabled, library content is based on file names only
              </div>
              {{/if}}
              <div class="center">
                    <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
              </div>
          {{/if}}
      {{else}}
          <div class="alert center alert-warning" role="alert">
              Local games folder is not set, please set the folder to get started
          </div>
              {{if !keys}}
              <div id="missingkeys" class="alert center alert-danger" role="alert" >
                  Prod.keys was not found - deep games scan is disabled, the library content is based only on file name tags
              </div>
              {{/if}}
          <div class="center">
                <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
          </div>
      {{/if}}
    </script>

    <script id="updatesTemplate" type="text/x-jsrender">
      {{if folder}}
          {{if updates && updates.length}}
              <div class="alert center alert-warning" role="alert">
                  There are {{:updates.length}} games/DLC with missing updates:
                 <button type="button" class="btn btn-link export-btn">export to csv</button>
              </div>
              <section id="updates-table" class="content"></section>
          {{else}}
              <div class="alert center alert-success" role="alert">
                  All games are up to date, you are not missing any updates!
              </div>
          {{/if}}
      {{else}}
          <div class="alert center alert-warning" role="alert">
              Local games folder is not set, please set the folder to get started
          </div>
          <div class="center">
                <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
          </div>
      {{/if}}
    </script>

    <script id="dlcTemplate" type="text/x-jsrender">
      {{if folder}}
           {{if dlc && dlc.length}}
               <div class="alert center alert-warning" role="alert">
                   There are {{:dlc.length}} games with missing DLC's in your local library:
                   <button type="button" class="btn btn-link export-btn">export to csv</button>
               </div>
               <section id="dlc-table" class="content"></section>
           {{else}}
               <div class="alert center alert-success" role="alert">
                   All games are up to date, you are not missing any DLC's!
               </div>
           {{/if}}
       {{else}}
           <div class="alert center alert-warning" role="alert">
               Local games folder is not set, please set the folder to get started
           </div>
           <div class="center">
                 <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
           </div>
       {{/if}}
    </script>

    <script id="statusTemplate" type="text/x-jsrender">
      {{if folder}}
           {{if library && library.length}}
               <div class="alert center alert-warning" role="alert">
                   {{:library.length}} files were skipped during scan, additional details below:
                   <button type="button" class="btn btn-link export-btn">export to csv</button>
               </div>
               <section id="status-table" class="content"></section>
           {{else}}
               <div class="alert center alert-success" role="alert">
                   No issues found
               </div>
           {{/if}}
       {{else}}
           <div class="alert center alert-warning" role="alert">
               Local games folder is not set, please set the folder to get started
           </div>
           <div class="center">
                 <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
           </div>
       {{/if}}
    </script>

    <script id="organizeTemplate" type="text/x-jsrender">
      {{if folder}}
       <div class="alert center alert-info" role="alert">
           You can automatically organize your library into a folder per game structure,
           Or just rename the files to a standard way, the options below can be customize through the settings.json file.
       </div>
       <div class="container">
          <form>
          <div class="row mb-3">
                <label for="baseFolder" class="col-sm-2 col-form-label">Base folder</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="baseFolder" value="{{:folder}}">
                </div>
              </div>
          <div class="row mb-3">
                <label for="createFolders" class="col-sm-2 col-form-label">Create folders</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="createFolders" value="{{:settings.organization.create_folder_per_game}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="createUpdatesFolder" class="col-sm-2 col-form-label">Create Updates folders</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="createUpdatesFolder" value="{{:settings.organization.updates_folder}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="createDlcFolder" class="col-sm-2 col-form-label">Create DLC folders</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="createDlcFolder" value="{{:settings.organization.dlc_folder}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="renameFiles" class="col-sm-2 col-form-label">Rename files</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="renameFiles" value="{{:settings.organization.rename_files}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="deleteEmptyFolders" class="col-sm-2 col-form-label">Delete empty folders</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="deleteEmptyFolders" value="{{:settings.organization.delete_empty_folders}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="deleteOldUpdateFiles" class="col-sm-2 col-form-label">Delete old update files</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="deleteOldUpdateFiles" value="{{:settings.organization.delete_old_update_files}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="processMissingBaseGame" class="col-sm-2 col-form-label">Process files when base game is missing</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="processMissingBaseGame" value="{{:settings.organization.process_when_missing_base_game}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="folderNameTemplate" class="col-sm-2 col-form-label">Folder name template</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="folderNameTemplate" value="{{:settings.organization.folder_name_template}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="fileNameTemplate" class="col-sm-2 col-form-label">File name template</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="fileNameTemplate" value="{{:settings.organization.file_name_template}}">
                </div>
              </div>
                 <button type="submit" class="btn btn-primary library-organize-action">Begin library organization</button>
          </form>
       </div>

        {{else}}
            <div class="alert center alert-warning" role="alert">
                Local games folder is not set, please set the folder to get started
            </div>
            <div class="center">
                  <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
            </div>
        {{/if}}
    </script>
  </body>
</html>
